tool-testing/db_authorprof
tool-testing/db_botgender
tool-testing/db_hyperpartisan
tool-testing/corpus_2_solution_2
tool-testing/corpus_2_solution_1
tool-testing/corpus_1_solution_2
tool-testing/corpus_1_solution_1
tool-testing/__pycache__/
