tool-testing/db_authorprof
tool-testing/db_botgender
tool-testing/db_hyperpartisan
tool-testing/__pycache__/
tool-testing/corpus_2_solution_1/logs
tool-testing/logs
tool-testing/temp
tool-testing/corpus_1_solution_1/logs
tool-testing/authorprof_bulk.map.0
tool-testing/authorprof_bulk.param.0
tool-testing/authorprof_bulk.txt
tool-testing/authorprof_bulk.v.0
tool-testing/authorprof_bulk.vocab.0
tool-testing/botgender_bulk.map.0
tool-testing/botgender_bulk.param.0
tool-testing/botgender_bulk.txt
tool-testing/botgender_bulk.v.0
tool-testing/botgender_bulk.vocab.0
tool-testing/hyperpartisan_bulk.map.0
tool-testing/hyperpartisan_bulk.param.0
tool-testing/hyperpartisan_bulk.txt
tool-testing/hyperpartisan_bulk.v.0
tool-testing/hyperpartisan_bulk.vocab.0
tool-testing/hyperpartisan_split_42_bulk.map.0
tool-testing/hyperpartisan_split_42_bulk.param.0
tool-testing/hyperpartisan_split_42_bulk.txt
tool-testing/hyperpartisan_split_42_bulk.v.0
tool-testing/hyperpartisan_split_42_bulk.vocab.0
tool-testing/__pycache__/indextoolmanager.cpython-37.pyc
tool-testing/corpus_2_solution_1/botgender_bulk.txt
tool-testing/corpus_2_solution_1/saved_models_ARANGO_RUN_6
tool-testing/corpus_2_solution_1/BIASED_RI_saved_models
tool-testing/corpus_2_solution_1/hyperpartisan_bulk.map.0
tool-testing/corpus_2_solution_1/authorprof_bulk.map.0
tool-testing/corpus_2_solution_1/hyperpartisan_bulk.param.0
tool-testing/corpus_2_solution_1/BASE_work
tool-testing/corpus_2_solution_1/BASE_saved_models
tool-testing/corpus_2_solution_1/saved_models_ELASTIC_RUN_6
tool-testing/corpus_2_solution_1/work
tool-testing/__pycache__/indextoolmanager.cpython-37.pyc
tool-testing/corpus_1_solution_1/__pycache__/
tool-testing/corpus_1_solution_1/__pycache__/
tool-testing/corpus_1_solution_1/pan18ap/__pycache__/
tool-testing/corpus_1_solution_1/pan18ap/__pycache__/
tool-testing/corpus_1_solution_1/saved_datasets/
tool-testing/corpus_2_solution_1/Preprocessing/__pycache__/
tool-testing/corpus_2_solution_1/data/
tool-testing/corpus_2_solution_1/authorprof_bulk.param.0
tool-testing/corpus_2_solution_1/authorprof_bulk.txt
tool-testing/corpus_2_solution_1/authorprof_bulk.v.0
tool-testing/corpus_2_solution_1/authorprof_bulk.vocab.0
tool-testing/corpus_2_solution_1/botgender_bulk.map.0
tool-testing/corpus_2_solution_1/botgender_bulk.param.0
tool-testing/corpus_2_solution_1/botgender_bulk.v.0
tool-testing/corpus_2_solution_1/botgender_bulk.vocab.0
tool-testing/log/
tool-testing/corpus_2_solution_2/__pycache__/
tool-testing/corpus_2_solution_1/elmo/
tool-testing/corpus_2_solution_1/hyperpartisan_bulk.txt
tool-testing/corpus_2_solution_1/hyperpartisan_bulk.v.0
tool-testing/corpus_2_solution_1/hyperpartisan_bulk.vocab.0
tool-testing/corpus_2_solution_1/hyperpartisan_split_42_bulk.map.0
tool-testing/corpus_2_solution_1/hyperpartisan_split_42_bulk.param.0
tool-testing/corpus_2_solution_1/hyperpartisan_split_42_bulk.txt
tool-testing/corpus_2_solution_1/hyperpartisan_split_42_bulk.v.0
tool-testing/corpus_2_solution_1/hyperpartisan_split_42_bulk.vocab.0
tool-testing/corpus_2_solution_2/hyperpartisan_split_42_bulk.map.0
tool-testing/corpus_2_solution_2/hyperpartisan_split_42_bulk.param.0
tool-testing/corpus_2_solution_2/hyperpartisan_split_42_bulk.txt
tool-testing/corpus_2_solution_2/hyperpartisan_split_42_bulk.v.0
tool-testing/corpus_2_solution_2/hyperpartisan_split_42_bulk.vocab.0
tool-testing/corpus_2_solution_2/pretrained_wv/
tool-testing/corpus_2_solution_1/saved_models*